.customBtn{
    width: 500px;
    height: 50px;
    background: #3F5EFB;
    background: linear-gradient(45deg,rgba(63, 94, 251, 1) 0%,
     rgba(252, 70, 107, 1) 100%);
     color: white;
     font-family: sans-serif;
     border: none;
     border-radius: 10px;
     font-size: 17px;
     cursor: pointer;
}